<% if @directories.any? %>
  <div class="directory-index-line">
    <div class="directory-index-icon-directory"></div>
    <div class="spacer"></div>
    <div class="directory-index-line-info">
      Name
    </div>
    <div class="directory-index-line-info">
      Owner
    </div>
    <div class="directory-index-line-info">
      Public
    </div>
  </div>

  <% @directories.each do |directory| %>
    <%= link_to directory_path(directory), class: "directory-index-line" do %>
      <%= fa_icon "folder", class: "directory-index-icon-directory" %>
      <div class="spacer"></div>
      <div class="directory-index-line-info">
        <%= directory.name %>
      </div>
      <div class="directory-index-line-info">
        <%= owner_alias(directory) %>
      </div>
      <div class="directory-index-line-info">
        <%= public_text(directory) %>
      </div>
    <% end %>
  <% end %>
<% end %>
