<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="directory-index-container">
  <div class="directory-index-show padding-top-bot-min">
    <div class="directory-index-show-icon"></div>
    <div class="spacer"></div>
    <div class="directory-index-show-info-container line-inherit">
      <div class="directory-index-show-info">
        Name
      </div>
      <div class="directory-index-show-info">
        Owner
      </div>
      <div class="directory-index-show-info">
        Public
      </div>
    </div>
  </div>

  <% @directories.each do |directory| %>
    <%= link_to root_path, class: "directory-index-show" do %>
      <%= fa_icon "folder", class: "directory-index-show-icon" %>
      <div class="spacer"></div>
      <div class="directory-index-show-info-container">
        <div class="directory-index-show-info">
          <%= directory.name %>
        </div>
        <div class="directory-index-show-info">
          <%=  directory.user == current_user ? "me" : directory.user.full_name %>
        </div>
        <div class="directory-index-show-info">
          <%= public_text(directory) %>
        </div>
      </div>
  <% end %>
<% end %>
</div>
