<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="directory-index-container">
  <% @directories.each do |directory| %>
    <%= link_to root_path, class: "directory-index-show" do %>
      <%= fa_icon "folder", class: "directory-index-show-icon" %>
      <div class="spacer"></div>
      <div class="directory-index-show-info-container">
        <div class="directory-index-show-info">
          <%= directory.name %>
        </div>
        <div class="directory-index-show-info">
          Owner : me
        </div>
        <div class="directory-index-show-info">
          <%= public_text(directory) %>
        </div>
      </div>
  <% end %>
<% end %>
</div>
