<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js' %>
<div class="session-line">
  <div class="spacer"></div>
  <%= link_to 'edit profile', edit_registration_path(current_user), class: 'basic-button has-right-margin' %>
  <% if current_user.admin? %>
    <%= link_to 'create new user account', new_user_registration_path, class: 'basic-button' %>
  <% end %>
</div>

<div class="user-stats">
  <div>
    Space used:
    <span>
      <%= number_to_human_size(current_user.space_used) %>
    </span>
  </div>
  <div>
    Space left:
    <span>
      <%= number_to_human_size(current_user.max_space - current_user.space_used) %>
    </span>
  </div>
</div>

<canvas id="space-used-chart">
</canvas>

<script>
  var ctx = document.getElementById("space-used-chart").getContext('2d');
  var pieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Space used', 'Remaining space'],
      datasets: [{
        label: "Space (Bytes)",
        backgroundColor: ["#b02a2a", "#169937"],
        data: [<%= current_user.space_used %>, <%= current_user.max_space - current_user.space_used %>]
      }]
    },
    options: {
      title: {
        display: true,
        text: "Remaining space and space used (bytes)"
      }
    }
  })
</script>
