<div class="header">
  <%= link_to root_path, class: "logo-container header-logo-container" do %>
    <div class="logo header-logo">
      <%= application_title %>
    </div>
  <% end %>
  <div class="spacer"></div>
  <%= link_to "Profile", user_profile_path, class: "header-button" %>
  <%= link_to "My Files", directories_path, class: "header-button" %>
  <%= link_to "Sharing", share_path, class: "header-button" %>
  </div>
