<div class="header">
  <%= link_to root_path, class: "logo-container header-logo-container" do %>
    <div class="logo header-logo">
      <%= application_title %>
    </div>
  <% end %>
  <div class="spacer"></div>
  <div class="header-dropdown">
    <div class="header-main-button">
      <div class="menu-square"></div>
      <div class="menu-square"></div>
      <div class="menu-square"></div>
    </div>
    <div class="header-menu-list">
      <%= link_to "Profile", user_profile_path, class: "header-button" %>
      <%= link_to "My Files", directories_path, class: "header-button" %>
      <%= link_to "Sharing", share_path, class: "header-button" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "header-button" %>
    </div>
  </div>
</div>
