<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= full_title(yield(:title)) %>
    </title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:700i|Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="center">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
